<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/period_entity" class="nav-link link-dark px-2">Period_entity</a></li>
        <li class="nav-item"><a href="/entity" class="nav-link link-dark px-2">Entity</a></li>
        <li class="nav-item"><a href="/period" class="nav-link link-dark px-2">Period</a></li>
      </ul>
    </div>
  </nav>
{% block content %}{% endblock %}
</body>
</html>